
body {
    
	background: black;
	font-family: arial, sans-serif;
    background-image: url(DSC_0797-2.jpg);
    background-size: 100%;

    
}

.headerDiv {

    width: auto;
    height: 170px;
    margin: -20px;
    background-color: ghostwhite;
    opacity: .8;
    box-shadow: 2px 2px 8px black;

}

.headerDiv #name {
    
    padding: 10px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 25px;
    color: black;
    
}

.headerDiv #nameDescription {
    
    margin-top: -30px;
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    color: dimgrey;
    
    
}

img {
    
    width: 100%;
    height: auto;
    
}